body {
    background-color: #101010;
    color: #d0d0d0;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: #f0f0f0;
}

a.unrecognizable:visited {
    color: #d0d0d0;
}
a.unrecognizable:link {
    color: #d0d0d0;
}

a:visited {
    color: #4080cc;
}

a:link {
    color: #70c0ff;
}

a:hover {
    color: #90e0ff;
}

.maincentered {
    margin: auto;
    width: 1220px;

    padding: 10px;
    font-family: monospace;

    box-shadow: 0px 0px 50px 2px rgba(0, 0, 0, 0.5);
}

.maincontent {
    display: inline-block;
    min-height: 950px;
}

.documentationheader {
    text-align: center;
}

.floatleft {
    float: left;
    width: 300px;
    font-size: 12px;
    padding-right: 10px;
}

.floatright {
    float: right;
    width: 900px;
    padding-left: 10px;
}

.floatanywhere {
    float: left;
    width: 295px;
    font-size: 12px;
    padding: 5px;
}

.fullwidth {
    width: 1220px;
}

.codecontainer {
    background-color: #1a1a1a;
    border-width: 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.disclaimer {
    background-color: #1a1a1a;
    border-width: 0px;
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 20px;
    color: #e0e000;
}

.sitemap {
    background-color: #1a1a1a;
    border-width: 0px;
    padding: 10px;
    margin-bottom: 20px;
}

.code {
    font-family: monospace;
}

.keyword {
    font-family: monospace;
    font-weight: bold;
    color: #55ff55;
}

.comment {
    font-family: monospace;
    color: #005500;
}

.type {
    font-family: monospace;
    font-weight: bold;
    color: #55ff55;
}

.parameter {
    font-family: monospace;
    font-weight: bold;
    color: #f0f0f0;
}

.function {
    font-family: monospace;
    font-weight: bold;
    color: #f0f0f0;
}

.property {
    font-family: monospace;
    font-weight: bold;
}

.inheritedcode {
    font-family: monospace;
    font-style: italic;
}

.inheritedproperty {
    font-family: monospace;
    font-style: italic;
}

.inheritedfunction {
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
}

.indented {
    padding-left: 50px;
}

.headerlisting {
    font-size: 12px;
    padding-bottom: 10px;
}

.flexheader {
    display: flex;
    padding-bottom: 0px;
}

.flexheader > form {
    margin-block-end: 0px;
}

.flexheaderwhitespace {
    flex: 1;
}

.headersearchinput {
    margin-left: 0.5em;
}

.lastheaderlisting {
    font-size: 12px;
    padding-bottom: 10px;
}

.footer {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    margin: auto;
    margin-bottom: 50px;
}

.floatheadline {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.docheader {
    font-size: 12px;
    font-weight: bold;
    color: #f0f0f0;
}

.warning {
    color: #d44;
    font-weight: bold;
    font-style: italic;
}

.searchoutput {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchresults {
    width: 100%;
    min-height: 1000px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.searchresult {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.searchmatch {
    color: black;
    background-color: orange;
}

.searchresulttext {
    font-size: 12px;
    font-weight: bold;
    color: #f0f0f0;
    margin-top: 13px;
}

.searchresultsubtext {
    padding-left: 20px;
    margin-top: 13px;
}

a.nolinkcolor {
    color: inherit;
    text-decoration: none;
}
